/* You can add global styles to this file, and also import other style files */
body:has(form) {
  background-color: blue;
}

body:has(section) {
  background: aqua;
  color: black;
}

div:has(p){
  background: red;
  color: white;
}

div:has(section){
  background: blue;
  color: white;
}

